.education_list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.education_item {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.education_info {
    font-style: italic;
}
