:root {
    --color1: #222831;
    --color2: #393E46;
    --color3: #009e32;
    --color4: #EEEEEE;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color2);
    color: var(--color4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2em 10%;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header-menu {
    display: flex;

    gap: 4em;
}

.header-menu-link {
    color: var(--color4);
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.5s;
}

.header-menu-link:hover {
    color: var(--color3);
}

main {
    background-color: var(--color4);

    display: flex;
    flex-direction: column;

    gap: 2.5em;

    padding: 2em 10%;
}

.profile {
    display: flex;
    flex-direction: column;

    gap: 1em;
}

.profile img {
    width: 15em;
    border-radius: 50%;
    margin: 0;
}

.profile-title {
    display: flex;
    flex-direction: column;
    
    gap: 0.3em;
}

.profile-title h1 {
    margin: 0;
}

.profile-title p {
    font-size: 1.3em;
    margin: 0;
}

.skills-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-flow: row wrap;

    gap: 0.5em;
    margin: 0;
}

.skills-list li {
    background-color: var(--color3);
    color: var(--color4);

    padding: 0.5em 1em;
    border-radius: 5px;
    transition: transform 0.5s;
}

.skills-list li:hover {
    transform: scale(1.05);
}

.contacts-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
}

.contacts-block img {
    width: 3em;
    transition: transform 0.5s;
    margin: 0;
}

.contacts-block img:hover {
    transform: scale(1.2);
}

footer {
    background-color: var(--color2);
    color: var(--color4);
    
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}

section {
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

section * {
    margin: 0;
}

section h2 {
    color: var(--color1);

    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.education-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.education-list li {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.education-list p {
    font-style: italic;
}
