body {
    font-family: 'JetBrains Mono Light';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #222222;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    height: 6em;
    padding: 0 2.5em;
}
img {
    width: 30%;
    border-radius: 50%;
}
.fig {
    text-align: center;
    padding-top: 2em;
}
.header-title {
    font-size: 2em;
}
.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header-menu-link {
    color: white;
    text-decoration: none;

    margin: 0 2em;
}
