.header_container {
    background-color: var(--color2);
    color: var(--color4);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 10%;
}

.header_nav {
    display: flex;
    gap: 4em;
}

.header_link {
    color: var(--color4);
    text-decoration: none;
    transition: color 0.5s;
}

.header_link:hover {
    color: var(--color3);
}
